/**
 * Select2 Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
.kuma-select2 {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  color: #666666;
  font-size: 14px;
}
.kuma-select2 > ul > li > a {
  padding: 0;
  background-color: #ffffff;
}
.kuma-select2-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -7px;
  font-family: 'kuma';
}
.kuma-select2-arrow * {
  display: none;
}
.kuma-select2-arrow:before {
  content: '\e614';
}
.kuma-select2-selection {
  outline: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.kuma-select2-selection:hover {
  border-color: #ff9900;
}
.kuma-select2-disabled {
  color: #cccccc;
  cursor: not-allowed;
  pointer-events: none;
}
.kuma-select2-disabled .kuma-select2-selection:hover,
.kuma-select2-disabled .kuma-select2-selection:active {
  border-color: #cccccc;
}
.kuma-select2 .kuma-select2-selection__rendered {
  margin: 0;
  list-style: none;
}
.kuma-select2-selection--single {
  height: 28px;
  cursor: pointer;
}
.kuma-select2-selection--single .kuma-select2-selection__rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 26px;
}
.kuma-select2-selection--single .kuma-select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.kuma-select2-selection--single .kuma-select2-selection__placeholder {
  color: #cccccc;
}
.kuma-select2-lg .kuma-select2-selection--single {
  height: 32px;
}
.kuma-select2-lg .kuma-select2-selection--single .kuma-select2-selection__rendered {
  line-height: 30px;
}
.kuma-select2-lg .kuma-select2-selection--multiple {
  min-height: 32px;
}
.kuma-select2-lg .kuma-select2-selection--multiple .kuma-select2-selection__rendered li {
  height: 24px;
}
.kuma-select2-lg .kuma-select2-selection--multiple .kuma-select2-selection__rendered li .kuma-select2-selection__choice__content {
  font-size: 14px;
  line-height: 24px;
}
.kuma-select2-sm .kuma-select2-selection--single {
  height: 22px;
}
.kuma-select2-sm .kuma-select2-selection--single .kuma-select2-selection__rendered {
  line-height: 20px;
}
.kuma-select2-sm .kuma-select2-selection--multiple {
  min-height: 22px;
}
.kuma-select2-sm .kuma-select2-selection--multiple .kuma-select2-selection__rendered li {
  height: 14px;
}
.kuma-select2-sm .kuma-select2-selection--multiple .kuma-select2-selection__rendered li .kuma-select2-selection__choice__content {
  line-height: 14px;
  position: relative;
  top: -3px;
}
.kuma-select2-sm .kuma-select2-selection--multiple .kuma-select2-selection__rendered li .kuma-select2-selection__choice__remove {
  position: relative;
  top: -4px;
}
.kuma-select2-disabled .kuma-select2-selection__choice__remove {
  color: #cccccc;
  cursor: default;
}
.kuma-select2-disabled .kuma-select2-selection__choice__remove:hover {
  color: #cccccc;
}
.kuma-select2-search__field__wrap {
  display: inline-block;
  position: relative;
}
.kuma-select2-search__field__placeholder {
  position: absolute;
  top: 0;
  left: 3px;
  color: #cccccc;
}
.kuma-select2-search--inline {
  float: left;
}
.kuma-select2-search--inline .kuma-select2-search__field__wrap {
  width: 100%;
}
.kuma-select2-search--inline .kuma-select2-search__field {
  border: none;
  font-size: 100%;
  background: transparent;
  outline: 0;
}
.kuma-select2-search--inline > i {
  float: right;
}
.kuma-select2-selection--multiple {
  min-height: 28px;
  cursor: text;
}
.kuma-select2-selection--multiple .kuma-select2-search__field__placeholder {
  top: 6px;
  left: 10px;
}
.kuma-select2-selection--multiple .kuma-select2-search--inline {
  width: auto;
}
.kuma-select2-selection--multiple .kuma-select2-search--inline .kuma-select2-search__field {
  width: 0.75em;
}
.kuma-select2-selection--multiple .kuma-select2-selection__rendered {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
  padding-bottom: 4px;
}
.kuma-select2-selection--multiple .kuma-select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.kuma-select2-selection--multiple > ul > li {
  margin-top: 4px;
  height: 20px;
  line-height: 20px;
}
.kuma-select2-selection--multiple .kuma-select2-selection__choice {
  background-color: #f3f3f3;
  cursor: default;
  float: left;
  padding: 0 20px 0 8px;
  margin-right: 4px;
  max-width: 99%;
  position: relative;
}
.kuma-select2-selection--multiple .kuma-select2-selection__choice__content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.kuma-select2-selection--multiple .kuma-select2-selection__choice__remove {
  color: #919191;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0 0 0 4px;
  position: absolute;
  right: 4px;
}
.kuma-select2-selection--multiple .kuma-select2-selection__choice__remove:hover {
  color: #333;
}
.kuma-select2-selection--multiple .kuma-select2-selection__choice__remove:before {
  font-family: 'kuma';
  content: '\e610';
}
.kuma-select2-open .kuma-select2-arrow:before {
  content: '\e613';
}
.kuma-select2-open .kuma-select2-selection {
  border-color: #ff9900;
}
.kuma-select2-combobox .kuma-select2-arrow {
  display: none;
}
.kuma-select2-combobox .kuma-select2-search--inline {
  height: 100%;
  float: none;
}
.kuma-select2-combobox .kuma-select2-search__field__placeholder {
  left: 10px;
  cursor: text;
}
.kuma-select2-combobox .kuma-select2-search__field__wrap {
  width: 100%;
  height: 100%;
}
.kuma-select2-combobox .kuma-select2-search__field {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.kuma-select2-combobox .kuma-select2-selection__rendered {
  padding: 0;
  height: 100%;
}
.kuma-select2-dropdown {
  background-color: white;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  z-index: 1070;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
  overflow: hidden;
  font-size: 12px;
}
.kuma-select2-dropdown-hidden {
  display: none;
}
.kuma-select2-dropdown-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-height: 250px;
  overflow: auto;
}
.kuma-select2-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}
.kuma-select2-dropdown-menu-item-group-list > .kuma-select2-dropdown-menu-item {
  padding-left: 24px;
}
.kuma-select2-dropdown-menu-item-group-title {
  color: #999;
  line-height: 1.5;
  padding: 8px 16px;
}
.kuma-select2-dropdown-menu-item {
  position: relative;
  display: block;
  padding: 7px 33px 7px 16px;
  font-weight: normal;
  color: #666;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kuma-select2-dropdown-menu-item:hover,
.kuma-select2-dropdown-menu-item-active {
  background-color: #eee;
}
.kuma-select2-dropdown-menu-item-disabled {
  color: #cccccc;
  cursor: not-allowed;
  pointer-events: none;
}
.kuma-select2-dropdown-menu-item-disabled:hover {
  color: #cccccc;
  background-color: #fff;
  cursor: not-allowed;
}
.kuma-select2-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  line-height: 0;
}
.kuma-select2-dropdown-container-open .kuma-select2-dropdown,
.kuma-select2-dropdown-open .kuma-select2-dropdown {
  display: block;
}
.kuma-select2-dropdown .kuma-select2-search--dropdown {
  display: block;
  padding: 4px;
}
.kuma-select2-dropdown .kuma-select2-search--dropdown .kuma-select2-search__field__placeholder {
  left: 7px;
  top: 5px;
}
.kuma-select2-dropdown .kuma-select2-search--dropdown .kuma-select2-search__field__wrap {
  width: 100%;
}
.kuma-select2-dropdown .kuma-select2-search--dropdown .kuma-select2-search__field {
  padding: 4px 7px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  outline: none;
}
.kuma-select2-dropdown .kuma-select2-search--dropdown.kuma-select2-search--hide {
  display: none;
}

/*# sourceMappingURL=Select2.css.map */